.row img {
    transition: transform 0.3s ease-in-out;
}

.row img:hover {
    transform: scale(1.1);
}

/* Styling tambahan */
.container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.row {
    margin: -15px;
}

.col-xl-2,
.col-lg-2,
.col-md-3,
.col-sm-6 {
    padding: 15px;
}
